
html{
	margin: 0;
	padding: 0;
	background:#000;
}

body{
	margin: 0;
	padding: 0;
	color: white;
}


hr{
	width: 200px;
	background-color: aqua;
	margin: 20px 0;
}
.main-header{
	position: relative;
	background-color: #000;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
}
.topic{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.topic ul,ol{
	font-size: 21px;
}
.topic li{
	margin: 10px 0;
}
.topic-header{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	//background-color: red;
}
.topic-paragraph{
	color: white;
	width: 70%;
	height: auto;
	margin: 0 auto;

}
.topic-paragraph p{
	line-height: 1.7;
	font-size: 25px;
}
.topic-paragraph p:first-letter{
	font-size: 40px;
	margin-left: 15px;
}
.topic img{
	width: 600px;
	height: auto;
	margin: 20px;
	border:2px solid white;
	border-radius: 5px 40px;
}
.wrap{
	width: 350px;
	height: 450px;
	background-color:#333;
	display: flex;
	flex-direction: column;
}
.margin{
	margin: 15px;
}
.border{
	padding: 5px;
	border-radius: 8px;
	border:1px solid orange;
}
.button{
	width: 150px;
	height: 50px;
	margin: 10px auto;
}
h1,label{
	font-family:'Comic Sans MS', sans-serif;
	color: yellow;
	margin: 0;
	padding: 0;}

.frame-menu{
	width: 20%;
	background-color:rgba(0,0,0,.3);
	border-radius: 20px;
}
.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0, .4);
	width: 100%;
	min-height: 90vh;
	line-height: 1.7;
	z-index: 50;
	flex-direction: column;
	margin:10px auto;
}
.menu ul{
	list-style: none;
	margin-right: 30px;
}
.menu a{
	//transition: .4s;
	text-decoration: none;
	color: orange;
	font-size:28px;
	font-family: "Times New Roman",Times, serif;
	font-weight: bold;
}
.menu a:hover{
	color: red;
}
legend{
	color: white;
	font-size: 23px;
}
.sub-menu{

	border:3px solid white; 
	border-radius: 20px;
}
.red-hr{
	background-color: red;
	height: 5px;
	width: 100%;
	border: 0;
	border-radius: 10px;
}/* 
::scrollbar{
	width: 15px;
	background-color: #000;
}
::scrollbar-track{
	border: 5px solid red;
} */
.font{
	font-size: 40px !important;
}