
html{
	margin: 0;
	padding: 0;
	background:#000;
}

body{
	margin: 0;
	padding: 0;
	color: white;
}

.back{
	position: fixed;
}
.stat-block{
	position: fixed;
	margin-bottom: 50px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: black;
}
.list{
	margin-top: 65px;
}
hr{
	width: 200px;
	background-color: aqua;
	margin: 20px 0;
}
.main-header{
	position: relative;
	background-color: #000;
	width: 85%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	
}
.main-header h1,a{
	font-size: 28px;
	text-decoration: none;
	color: yellow;

}
.main-header a:hover{
	color: red;
}
.wrap{
	width: 350px;
	height: 450px;
	background-color:#333;
	display: flex;
	flex-direction: column;
}
.margin{
	margin: 15px;
}
.border{
	padding: 5px;
	border-radius: 8px;
	border:1px solid orange;
}
.button{
	width: 150px;
	height: 50px;
	margin: 10px auto;
}
h1,label{
	font-family:'Comic Sans MS', sans-serif;
	color: yellow;
	margin: 0;
	padding: 0;}

h1{
	font-size: 19px;
}

.frame-menu{
	width: 20%;
	background-color:rgba(0,0,0,.3);
	border-radius: 20px;
}
.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0, .4);
	width: 100%;
	min-height: 90vh;
	line-height: 1;
	z-index: 50;
	flex-direction: column;
	margin:10px auto;
}
.menu ul{
	list-style: none;
	margin-right: 30px;
}
.menu a{
	//transition: .4s;
	text-decoration: none;
	color: orange;
	font-size:28px;
	font-family: "Times New Roman",Times, serif;
	font-weight: bold;
}
.menu a:hover{
	color: red;
}
legend{
	color: white;
	font-size: 23px;
}
.sub-menu{

	border:3px solid white; 
	border-radius: 20px;
}
.red-hr{
	background-color: red;
	height: 5px;
	width: 100%;
	border: 0;
	border-radius: 10px;
}/* 
::scrollbar{
	width: 15px;
	background-color: #000;
}
::scrollbar-track{
	border: 5px solid red;
} */
.font{
	font-size: 40px !important;
}
