* {
  margin: 0;
  padding: 0;
}

.wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper2 {
  width: 1000px;
  min-height: 98vh;
  background-color: #888;
  margin: 10px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  z-index: 1000;
  -webkit-box-shadow: 0 0 15px;
          box-shadow: 0 0 15px;
}

img {
  margin: 0 auto;
  z-index: 5;
}

.header {
  width: 98%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__link_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  line-height: 1.1;
  text-align: center;
}
.header__link_span a {
  text-decoration: none;
  margin: 0 5px;
  color: white;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 99%;
  -webkit-box-flex: 0.98;
      -ms-flex: 0.98;
          flex: 0.98;
  margin: auto;
  border-radius: 15px;
}
.main__frame {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper3 {
  width: 800px;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes animate_pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
            box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(228, 25, 49, 0.1);
            box-shadow: 0 0 0 30px rgba(228, 25, 49, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
            box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}

@keyframes animate_pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
            box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(228, 25, 49, 0.1);
            box-shadow: 0 0 0 30px rgba(228, 25, 49, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
            box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}
@-webkit-keyframes animate_pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
            box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(228, 25, 49, 0);
            box-shadow: 0 0 0 30px rgba(228, 25, 49, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
            box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}
@keyframes animate_pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
            box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(228, 25, 49, 0);
            box-shadow: 0 0 0 30px rgba(228, 25, 49, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
            box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}
@-webkit-keyframes animate_gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animate_gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 2px solid #e41931;
  -webkit-animation: animate_pulse2 2.5s infinite;
          animation: animate_pulse2 2.5s infinite;
}

.input-field {
  margin: 10px;
}

.input {
  height: 35px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 200px;
}

#button-submit {
  width: 150px;
  height: 50px;
  border-radius: 40px;
}

#password {
  border-radius: 35px 35px 5px 5px;
}

#user {
  border-radius: 5px 5px 35px 35px;
}

label {
  font-size: 23px;
}

.exit {
  position: absolute;
  top: 30px;
  right: 250px;
  border-radius: 30px;
  -webkit-animation: animate_pulse 2s infinite;
          animation: animate_pulse 2s infinite;
}
.exit__anchor {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  color: red;
  margin: 15px;
}

.msg {
  color: red;
}

.status_bar {
  position: absolute;
  top: 30px;
  left: 100px;
  border-radius: 20px;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: animate_gradient 5s ease infinite;
          animation: animate_gradient 5s ease infinite;
}

.status_user {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
  margin: 15px;
}

.hr {
  margin: 8px 0;
}

.header2 {
  width: 99%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header2__link_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  border-right: 2px solid black;
  padding-right: 2px;
}
.header2__link_span:last-child {
  border: 0;
  padding-right: 0;
}
.header2__link_span a {
  text-decoration: none;
  margin: 0 5px;
  color: white;
}

.header3 {
  width: 98%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header3__link_span {
  font-size: 25px;
  line-height: 1.1;
  text-align: center;
}
.header3__link_span a {
  text-decoration: none;
  margin: 0 5px;
  color: white;
}